{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			
			{% block header %}
			<div class="w-full flex flex-row justify-between p-2 bg-gray-100 rounded-lg drop-shadow-lg">
				<button class="text-xl text-white bg-black rounded-full"> <a href="/" class="px-2 py-2"> X </a></button>
				<div class="flex flex-row">
					<button class="text-lg text-black mx-2 my-1"> <a href="/" class="px-4 py-2"> Home </a></button>
					
		
					{% if user.is_authenticated %}
						<button class="text-lg text-white bg-blue-500 rounded-lg mx-2 my-1 px-3 py-2"> <a href="{% url 'profile' %}" class="px-1 py-1"> PROFILE </a></button>
						<button class="text-lg text-white bg-green-500 rounded-lg mx-2 my-1 px-3 py-2"> <a href="{% url 'logout' %}" class="px-1 py-1"> LOGOUT </a></button>
					{% else %}
						<button class="text-lg text-white bg-blue-500 rounded-lg mx-2 my-1 px-3 py-2"> <a href="{% url 'login' %}" class="px-1 py-1"> LOGIN </a></button>
						<button class="text-lg text-white bg-green-500 rounded-lg mx-2 my-1 px-3 py-2"> <a href="{% url 'register' %}" class="px-1 py-1"> REGISTER </a></button>
					{% endif %}
		
				</div>
			</div>
			{% endblock %}
			
			<div class="grid grid-cols-1 gap-1 md:grid-cols-12 md:gap-12">
				<div class="col-span-1 md:col-span-8">
					{% block content %} {% endblock %}
				</div>

				<div class="col-span-1 md:col-span-4">
					{% block sidebar %} {% endblock %}
				</div>
			</div>
			<div>
				{% block footer %} 

				{% endblock %}
			</div>
		</div>
	</body>
</html>
